.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    background: #fff;
}

    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 12px;
    }

    .login-container button {
        width: 100%;
        padding: 10px;
        background: #6a5acd;
        border: none;
        color: white;
        cursor: pointer;
    }

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

span {
    color: red;
    font-size: 12px;
}
